<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.composer.kangtalk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="kr.co.composer.kangtalk.application.LoginApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="kr.co.composer.kangtalk.activity.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.JoinActivityBak"
            android:screenOrientation="portrait" />
        <activity
            android:name="kr.co.composer.kangtalk.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfigActivity"
            android:label="@string/config"
            android:screenOrientation="portrait" />
        <!--<receiver android:name="kr.co.composer.callrecord.callbroadcast.CallBroadcast">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.NEW_OUTGOING_CALL" />-->
        <!--<action android:name="android.intent.action.PHONE_STATE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>
